.demo p a {
    margin: 8em 0;
    text-align: center;
    text-decoration: none;
    color: #000000;
    font-size: 20px;
}

.demo p a:hover {
    color: #db2b74;
}


[data-tooltip] {
    position: relative;
    z-index: 2;
    cursor: pointer;
}


[data-tooltip]:before,
[data-tooltip]:after {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}


[data-tooltip]:before {
    position: absolute;
    bottom: 150%;
    left: 50%;
    margin-bottom: 5px;
    margin-left: -110px;
    padding: 7px;
    width: 210px;
    border-radius: 3px;
    background-color: #db2b74;
    color: #fff;
    content: attr(data-tooltip);
    text-align: center;
    font-size: 17px;
    line-height: 1.2;
}

[data-tooltip]:after {
    position: absolute;
    bottom: 150%;
    left: 50%;
    margin-left: -5px;
    width: 0;
    border-top: 5px solid #db2b74;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: " ";
    font-size: 0;
    line-height: 0;
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
    visibility: visible;
    opacity: 1;
}
